{% extends "base.html" %}

{% block main_container %}
<h1>{% block our_posts %}Our Posts{% endblock %}</h1>
{% if post_list %}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        <a href="{% if page_obj.has_previous %}{{ request.path }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"><i class="fa fa-backward fa-2x {% if page_obj.has_previous %}pagination-active{% else %}pagination-dead{% endif %}"></i></a>
        <a href="{% if page_obj.has_next %}{{ request.path }}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}"><i class="fa fa-forward fa-2x {% if page_obj.has_next %}pagination-active{% else %}pagination-dead{% endif %}"></i></a>
        <br/><span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    </span>
</div>
{% endif %}

{% for post in post_list %}
{% block postlist %}
<div class="post-mini">
    <div class="post-mini-content">
        <div>
            <h2>{{ post.title }}</h2>
        </div>
        {% if post.image %}<img class="post-mini-image float-right" src="{{ post.image.url }}" />{% endif%}
        <p>{{ post.summary }}</p>
        <div style="clear:both;"></div>
    </div>
    <div class="post-mini-footer">
        <div class="float-right post-meta">{{ post.author }}</div>
        <div class="float-right post-meta">{{ post.date|timesince }}</div>
        <div style="clear:both;"></div>
    </div>
</div>
{% endblock %}
{% endfor %}
{% else %}
<div class="404">
    <h1>Whoops!</h1>
    <h2>No posts yet!</h2>
</div>
{% endif %}
{% endblock %}
