Django==1.6.5
Fabric==1.8.1
psycopg2==2.5.3
Pillow==2.4.0
South==0.8.4
argparse==1.2.1
django-activelink==0.4
django-debug-toolbar==1.0.1
django-dotenv==1.2
django-extensions==1.3.2
django-suit==0.2.5
django-suit-redactor==0.0.2
ecdsa==0.10
paramiko==1.12.1
pycrypto==2.6.1
pycurl==7.19.3
raven==4.0.4
six==1.5.2
sqlparse==0.1.10
wsgiref==0.1.2
