{% load activelink %}
{% load humanize %}
<!doctype html><html>
	<head>
        {% block head %}
        <title>ICTV - Imperial College Union</title>
		{% endblock %}
		{% block css %}
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
		{% endblock %}
		{% block webfonts %}
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		{% endblock %}

                <script>
document.addEventListener('DOMContentLoaded', function() {
    var menuLink = document.getElementById('menuLink');
    var menu = document.getElementById('menu');

    menuLink.addEventListener('click', function() {
        menu.classList.toggle('active');
        menuLink.classList.toggle('active');
    });
});
                </script>
	</head>
	<body>
		<div id="layout">
			<a href="#menu" id="menuLink" class="menu-link"><span><i class="fa fa-bars"></i></span></a>
			<div id="menu">
				<div class="pure-menu pure-menu-open">
<!--					<a href="#" class="pure-menu-heading">ICTV</a>-->
					<ul>
						<li><a class="{% ifactive "home" %}nav_active_link{% endifactive %}" href="{%  url "home" %}">Home</a></li>
						<li><a class="{% ifstartswith "live" %}nav_active_link{% endifstartswith %}" href="{% url "live" %}">ICTV Live</a></li>
                       				<li><a class="{% ifstartswith "video_index" %}nav_active_link{% endifstartswith %}" href="{% url "video_index" %}">Videos</a></li>
                                    <li><a class="{% ifstartswith "event_index" %}nav_active_link{% endifstartswith %}" href="{% url "questions_live" %}">Questions Live!</a></li>
                       			 	<li><a class="{% ifstartswith "event_index" %}nav_active_link{% endifstartswith %}" href="{% url "event_index" %}">Events</a></li>
                       			 	<li><a class="{% ifstartswith "blog_index" %}nav_active_link{% endifstartswith %}" href="{% url "blog_index" %}">Blog</a></li>
                       			 	<li><a class="{% ifstartswith "services" %}nav_active_link{% endifstartswith %}" href="{%  url "services" %}">Services/Hire</a></li>
                       			 	<li><a class="{% ifstartswith "tech" %}nav_active_link{% endifstartswith %}" href="{%  url "tech" %}">Tech Team</a></li>
                       			 	<li><a class="{% ifstartswith "contact" %}nav_active_link{% endifstartswith %}" href="{%  url "contact" %}">Contact Us</a></li>
						<li><a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/stoic-tv-products" target="union">Join Us</a></li>
					</ul>
				</div>
			</div>
			<div id="main">
				<div class="header">
					<h1>IC<strong>TV</strong></h1>
					<h2>The Student Television Station of Imperial College</h2>
				</div>
				<div class="content">
					{% block main_container %} {% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
