{% load activelink %}
{% load humanize %}
<!doctype html><html>
	<head>
		{% block head %}
		{% endblock %}
		{% block css %}
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
		{% endblock %}
		{% block webfonts %}
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		<div class="pure-g-r" id="layout">
			<div class="pure-u-5-24" id="menu">
				<div class="pure-menu pure-menu-open">
					<a href="#" class="pure-menu-heading">STOIC</a>
				</div>
				<div class="pure-g">
					<div class="pure-u-1-2">
						<div class="pure-menu pure-menu-open">
							<a href="#" class="pure-menu-heading">Main</a>
							<ul>
								<li><a class="{% ifactive "home" %}nav_active_link{% endifactive %}" href="{%  url "home" %}">Home</a></li>
								<li><a class="{% ifactive "live" %}nav_active_link{% endifactive %}" href="{% url "live" %}">STOIC Live</a></li>
								<li><a href="#">Shows</a></li>
								<li><a href="#">Events</a></li>
								<li><a href="#">Film In A Week</a></li>
                                <li><a class="{% ifactive "blog_index" %}nav_active_link{% endifactive %}" href="{% url "blog_index" %}">Blog</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Tech Team</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/stoic-tv-products">Join Us</a></li>
							</ul>
						</div>
					</div>
					<div class="pure-u-1-2">
						<div class="pure-menu pure-menu-open">
							{% block second_level_menu %}{% endblock %}
						</div>	
					</div>
				</div>
			</div>
			<div class="pure-u-5-24" id="placeholder"></div>
			<div class="pure-u-19-24" id="main">
				<div class="pure-g">

					<div class="pure-u-1-8"></div>

					<div class="pure-u-3-4" id="main">
						{% block main_container %} {% endblock %}
					</div>
					<div class="pure-u-1-8"></div>
				</div>
			</div>

		</div>
	</body>
</html>
