{% extends "base.html" %}

{% block main_container %}
<div class="hero">
    <h1>STOIC</h1>
    <h2>The Student Television Station of Imperial College</h2>
</div>

{% if blog_list %}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        <a href="{% if page_obj.has_previous %}{{ request.path }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"><i class="fa fa-backward fa-2x {% if page_obj.has_previous %}pagination-active{% else %}pagination-dead{% endif %}"></i></a>
        <a href="{% if page_obj.has_next %}{{ request.path }}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}"><i class="fa fa-forward fa-2x {% if page_obj.has_next %}pagination-active{% else %}pagination-dead{% endif %}"></i></a>
        <br/><span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    </span>
</div>
{% endif %}

{% for blog in blog_list %}
<div class="blog-mini">
    <div class="blog-mini-content">
        <div>
            <h2>{{ blog.title }}</h2>
        </div>
        {% if blog.image %}<img class="blog-mini-image float-right" src="{{ blog.image.url }}" />{% endif%}
        <p>{{ blog.summary }}</p>
        <div style="clear:both;"></div>
    </div>
    <div class="blog-mini-footer">
        <div class="float-right blog-meta">{{ blog.author }}</div>
        <div class="float-right blog-meta">{{ blog.date|timesince }}</div>
        <div style="clear:both;"></div>
    </div>
</div>

{% endfor %}
{% else %}
<hr/>
<div class="hero">
    <h1>Whoops!</h1>
    <h2>No blog posts yet!</h2>
</div>
{% endif %}
{% endblock %}
