{% extends "post_list.html" %}

{% block postlist %}
<a href="{% url 'blog_article' year=post.date.year month=post.date.month day=post.date.day slug=post.slug %}">
    <div class="post post-mini {% if post.image %}with-image{% endif %}">
        <div class="post-content">
            {% if post.image %}
                <div class="post-image-container">
                    <div class="post-image-positioner">
                        <img class="post-image" src="{{ post.image.url }}" />
                    </div>
                    <div class="post-image-cover"></div>
                </div>
            {% endif %}
            <div class="post-header">
                <h2>{{ post.title }}</h2>
                <h3 class="post-author">by <span>{{ post.author }}</span> {{ post.date|timesince }} ago</h3>
                <div style="clear:both;"></div>
            </div>
            {{ post.summary|safe }}
        </div>
    </div>
</a>
{% endblock %}
