{% extends "base.html" %}

{% block main_container %}
<h1>Contact Us</h1>

<p> If you would like to get in contact with STOIC to hire us, hire our equippent, get involved or for any other enquiries, you can contact us at: </p>

<div>
<div class="contact-icon"><i class="fa fa-phone fa-1x"></i>: 020 759 (48104)</div>
<div class="contact-icon"><i class="fa fa-inbox fa-1x"></i>: <a href="mailto:stoic@imperial.ac.uk">stoic@imperial.ac.uk</a></div>
<div class="contact-icon"><i class="fa fa-compass fa-1x"></i>: STOIC, Imperial College Union, Beit Quad, Prince Consort Road, LONDON, SW7 2BB<div>
</div>

<p> Of course if you're standing in Beit Quad, you'll be able to find us in the Beit West Basement.</p>
{% endblock %}
