{% extends "post_list.html" %}

{% block header %}
<h1>Events</h1>
{% endblock %}

{% block postlist %}
<div class="post post-mini {% if post.image %}with-image{% endif %}">
    <div class="post-content">
        {% if post.image %}
            <div class="post-image-container">
                <div class="post-image-positioner">
                    <img class="post-image" src="{{ post.image.url }}" />
                </div>
                <div class="post-image-cover"></div>
            </div>
        {% endif %}
        <div class="post-header">
            <h2>{{ post.title }}</h2>
            <h3 class="post-location">at <span>{{ post.location }}</span> on <span>{{ post.start_date }}</span></h3>
            <div style="clear:both;"></div>
        </div>
        {{ post.summary|safe }}
    </div>
</div>
{% endblock %}
