{% extends "base.html" %}

{% block main_container %}
<div class="hero">
	<h1>STOIC</h1>
	<h2>The Student Television Station of Imperial College</h2>
</div>
<div class="pure-g-r">
	<a href="{%  url "live" %}">
		<div class="pure-u-1-2 module module-red">
			<div class="module-content">
				<div class="module-icon"><i class="fa fa-video-camera fa-5x"></i></div>
				<h3>Watch our live stream</h3>
			</div>
		</div>
	</a>
	<div class="pure-u-1-2 module module-blue">
		<div class="module-content">
			<div class="module-icon"><i class="fa fa-desktop fa-5x"></i></div>
			<h3>Watch our shows</h3>
		</div>

	</div>
	<div class="pure-u-1-3 module module-orange">
		<div class="module-content">
			<div class="module-icon"><i class="fa fa-book fa-5x"></i></div>
			<h3>Read our blog</h3>
		</div>
	</div>
	<div class="pure-u-1-3 module module-purple">
		<div class="module-content">
			<div class="module-icon"><i class="fa fa-calendar fa-5x"></i></div>
			<h3>Check our our events</h3>
		</div>
	</div>
	<a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/stoic-tv-products">
		<div class="pure-u-1-3 module module-yellow">
			<div class="module-content">
				<div class="module-icon"><i class="fa fa-group fa-5x"></i></div>
				<h3>Join us!</h3>
			</div>
		</div>
	</a>
</div>




{% endblock %}
