{% extends "base.html" %}

{% block main_container %}
<div class="pure-g-r">
    <div class="pure-u-1 module">
        <iframe width="100%" scrolling="no" height="480" frameborder="0" align="middle" border="0" allowfullscreen="true" src="http://galen.media.su.ic.ac.uk/stoic/stream/"></iframe>
    </div>
    <div class="pure-u-1-4 module module-red">
        <a href="{%  url "video_index" %}">
            <div class="module-content">
                <div class="module-icon"><i class="fa fa-desktop fa-5x"></i></div>
                <h3>Watch our shows</h3>
            </div>
        </a>
    </div>
    <div class="pure-u-1-4 module module-orange">
        <a href="{%  url "blog_index" %}">
            <div class="module-content">
                <div class="module-icon"><i class="fa fa-book fa-5x"></i></div>
                <h3>Read our blog</h3>
            </div>
        </a>
    </div>
    <div class="pure-u-1-4 module module-purple">
        <a href="{%  url "event_index" %}">
            <div class="module-content">
                <div class="module-icon"><i class="fa fa-calendar fa-5x"></i></div>
                <h3>Check our our events</h3>
            </div>
        </a>
    </div>
    <div class="pure-u-1-4 module module-green">
        <a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/stoic-tv-products">
            <div class="module-content">
                <div class="module-icon"><i class="fa fa-group fa-5x"></i></div>
                <h3>Join us!</h3>
            </div>
        </a>
    </div>
</div>




{% endblock %}
