{% extends "base.html" %}
{% block head %}
<script src="http://jwpsrv.com/library/xwxKjoFMEeO_bCIACmOLpg.js"></script>
{% endblock %}

{% block main_container %}
<div class="hero">
	<h1>STOIC</h1>
	<h2>The Student Television Station of Imperial College</h2>
</div>
<div id='playerbSrdfVcNILVw'></div>
<script type='text/javascript'>
	jwplayer('playerbSrdfVcNILVw').setup({
file: 'rtmp://stoic-dexter.media.su.ic.ac.uk/livestream/livestream',
image: 'http://stoictv.com/Images/logo.png',
title: 'STOIC Live Stream',
width: '100%',
aspectratio: '16:9',
fallback: 'false'
});
</script>



{% endblock %}
