{% extends "base.html" %}

{% block main_container %}

{% block header %}
{% endblock %}

{% if post_list %}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        <a href="{% if page_obj.has_previous %}{{ request.path }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"><i class="fa fa-backward fa-2x {% if page_obj.has_previous %}pagination-active{% else %}pagination-dead{% endif %}"></i></a>
        <a href="{% if page_obj.has_next %}{{ request.path }}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}"><i class="fa fa-forward fa-2x {% if page_obj.has_next %}pagination-active{% else %}pagination-dead{% endif %}"></i></a>
        <br/><span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    </span>
</div>
{% endif %}

{% for post in post_list %}
{% block postlist %}
<div class="post post-mini {% if post.image %}with-image{% endif %}">
    <div class="post-content">
        {% if post.image %}
            <div class="post-image-container">
                <div class="post-image-positioner">
                    <img class="post-image" src="{{ post.image.url }}" />
                </div>
                <div class="post-image-cover"></div>
            </div>
        {% endif %}
        <div class="post-header">
            <h2>{{ post.title }}</h2>
            <h3 class="post-author">by <span>{{ post.author }}</span> {{ post.date|timesince }} ago</h3>
            <div style="clear:both;"></div>
        </div>
        {{ post.summary|safe }}
    </div>
</div>
{% endblock %}
{% endfor %}
{% else %}
<hr/>
<div class="hero">
    <h1>Whoops!</h1>
    <h2>No posts yet!</h2>
</div>
{% endif %}
{% endblock %}
