<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Imperial Questions Live</title>

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}/css/iql.css" rel="stylesheet">
    <!-- <link href="css/grayscale.css" rel="stylesheet"> -->
    <!-- <link href="css/iql.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- JS -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>#}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

 <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-md-offset-1 pushdown">
                <div class="jumbotron jumbo-custom">
                    <div class="">
                        <h1 style="font-size: 58px;">Imperial Questions Live</h1>
                        <h2>Time to put your questions forward</h2>

                        <h4>
                        <ul>
                          <li>Ever wanted to ask the Union a question?</li>
                          <li>Does College take students' views Seriously?</li>
                        </ul>
                        </h4>
                        <p>On Wednesday 18 February, 7pm, five panellists will be in the Beit West Basement Studio answering your questions. Submit here, or use #iql on Twitter. The show will be streamed live.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 form">
                <form style="background-color: red;">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
                <!-- <div style="-webkit-filter: blur(5px);"> -->
                <!-- <div class="well well-sm col-md-10 col-md-offset-1" > -->
                    <div class="col-md-2 col-md-offset-1 text-center person-text person">
                        <img src="img/wheeler.jpeg" alt="Tom Wheeler" class="img-circle img-responsive center-block person-pic">
                        <h3>Tom Wheeler</h3>
                        <p>Tom is Imperial College Union's President. Prior to this, he was a Physics Undergraduate.</p>
                    </div>
                    <div class="col-md-2 text-center person-text person">
                        <img src="img/bridge.jpg" alt="Bridge Duncombe" class="img-circle img-responsive center-block person-pic">
                        <h3>Bridge Duncombe</h3>
                        <p>Bridge is the first and current full time Directory of Undergraduate Studies in the Department of Chemistry.</p>
                    </div>
                    <div class="col-md-2 text-center person-text person">
                        <img src="img/skett.jpg" alt="Philippa Skett" class="img-circle img-responsive center-block person-pic">
                        <h3>Philippa Skett</h3>
                        <p>Philippa is the Editor-in-Chief of <em>Felix</em>, Imperial's Student Newspaper. Philippa graduated from Biology and Science Communications here at Imperial.</p>
                    </div>
                    <div class="col-md-2 text-center person-text person">
                        <img src="img/debra.jpg" alt="Debra Humphris" class="img-circle img-responsive center-block person-pic">
                        <h3>Debra Humphris</h3>
                        <p>Debra is Imperial College's Vice Provost (Education), the most Senior figure solely responsible for education and students.</p>
                        
                    </div>
                    <div class="col-md-2 text-center person-text person">
                        <img src="img/benton.jpg" alt="Oli Benton" class="img-circle img-responsive center-block person-pic">
                        <h3>Oli Benton</h3>
                        <p>Oli is Chair of the Athletics Clubs Committee; as a student volunteer he oversees and administers over 45 sports clubs. He is in his final year of Chemistry.</p>
                    </div>
                <!-- </div> -->
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>