{% extends "base.html" %}

{% load static %}

{% block main_container %}
<h1>Filming Services or Equipment Hire</h1>

<p>We provide filming and equipment hire services to both internal and external groups.</p>
<p>If you would like to use our services, please <a href="{% url "contact" %}">send us a message to discuss your requirements</a> and we'll be pleased to try to accommodate you as best we can. Our <a href="{% static 'misc/ratecard.pdf' %}">rate card</a> is available online.</p>

{% endblock %}
