{% extends "base.html" %}

{% block main_container %}


<p>ICTV has lots of opportunities for budding techies to learn, develop, produce and tinker!</p>
<p>Our brand new Media suite means we have tons of cool things to play with and learn to use.</p>
<p>If you like:</p>
<ul class="tech-list">
	<li>Cameras! <small>(We have some awesome new Blackmagic cameras)</small></li>
	<li>Linux administration <small>(Everyone loves it really...)</small></li>
	<li>Networking <small>(I'd tell you a UDP joke, but you wouldn't get it)</small></li>
	<li>Managing a fleet of Macs <small>(Yes, really)</small></li>
	<li>Tons of coax <small>(SO MUCH)</small></li>
	<li>Frantic shouting at live broadcast events <small>(VT! VT! VT!)</small></li>
	<li>CasparCG <small>(Because let's add another layer of complexity)</small></li>
</ul>

{% endblock %}
