
.blog-mini {
    background-color:#D9E0E0;
    padding:10px;
    margin-bottom:10px;
}
.blog-mini h2 {
    display:inline-block;
}
.blog-mini-content {
    min-height:100px;
}
#main .blog-mini-image {
    max-width:30% ;
    
}
.blog-meta {
    font-size:80%;
}
.float-right {
    float:right;
    margin:5px;
    display:inline;
}
.float-left {
    float:left;
    margin:5px;
    display:inline;
}
