
body {
  background-image: url('/static/misc/iql/backdrop.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.jumbo-custom{
    background-color: rgba(28, 29, 31, 0.6);
    color: rgb(210, 210, 210);
}

.pushdown{
    padding:4em 0em 0em 0em;
    padding-left: 5px;
    padding-right: 5px;
}

.form{
    padding: 9em 3em 0em 3em;
    background-color: yellow;
}

.person{
    padding: 1.5em 0.6em 0em 0.6em;
    border-radius: 5px;
    /*border-spacing: 5px 5px;*/
    background-color: rgba(28, 29, 31, 0.6);
}

.person-container{
    padding-left: 5px;
    padding-right: 5px;
}

.person-pic{
    width: 75%;
}

.person-text{
   color: rgb(210, 210, 210);
}

