
body {
  background-image: url('/static/misc/iql/backdrop.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(9, 16, 40);
}

.jumbo-custom{
    background-color: rgba(28, 29, 31, 0.6);
    color: rgb(210, 210, 210);
}

.pushdown{
    padding:4em 0em 0em 0em;
    padding-left: 5px;
    padding-right: 5px;
}

.iql-form{
    padding: 0.5em 2em 1.5em 2em;
    background-color: rgba(28, 29, 31, 0.6);
    border-radius: 5px;
    color: rgb(210, 210, 210);
}

.person{
    padding: 1.5em 0.6em 1em 0.6em;
    border-radius: 5px;
    background-color: rgba(28, 29, 31, 0.6);
}

.person-container{
    padding-left: 5px;
    padding-right: 5px;
}

.person-pic{
    width: 75%;
}

.person-text{
   color: rgb(210, 210, 210);
}

.panellists-header{
    color: rgb(210, 210, 210);
    font-size: 36px;
    padding-left: 4em;
}

.iql-footer{
    padding-bottom: 1em;
    background-color: white;
}

.footer-item{
    text-align: center;
}

