@import url('type.css');
@import url('module.css');
@import url('pagination.css');
@import url('post.css');
@import url('video.css');

.stoic-red {background-color:#E73F3F;}
.stoic-black {background-color:#000;}
.stoic-white {background-color:#FFF}

html {
    position:relative;
    min-height: 100%
}
body {
    margin 0 0 60px; /* Space between body and footer */
}
/* sticky footer, many thanks to http://mystrd.at/modern-clean-css-sticky-footer/ */
footer {
text-align:center;
background-color:#000;

position:absolute;
left:0;
bottom:0;
height:50px;
width:100%;
}
footer a {
    position:relative;
    top:15%;
}
#layout {
    margin-bottom:60px;
}
#menu {
	background-color:#E73F3F;
	color:white;
	border:none;
	position:fixed;
	left:0;
	top:0;
	bottom:0;
}
#menu .pure-menu {
	border:inherit;
	background-color:transparent;
}

#menu .pure-menu-open {
	background-color:transparent;
}
.pure-menu-open li, .pure-menu-open .pure-menu-heading {
	background-color:transparent;
	color:white;
}

.pure-menu-open li a {
	background-color:transparent;
	color:white;
	padding-top: 12px;
	padding-bottom: 10px;
}
#menu .pure-menu-open li a.nav_active_link, #menu .pure-menu-open li a.nav_active_link:hover {
	background-color:#FFF;
	color:#E73F3F;
}
#menu .pure-menu-open li a:hover {
	background-color:black;
}

a {
text-decoration:none;
color: rgb(51, 51, 51);


}

a:link, a:active, a:visited, a:hover {
    color: rgb(51, 51, 51);
}


/* Typography */

/* Hero */
.hero {
     border-bottom:thin solid #000;
}
.hero h1 {
    font-family: "Open Sans", Helvetica, Ariel, "sans-serif";
    font-size:600%;
	color:#333;
	margin:0;
}
