
.video-mini {
    /*background-color:#D9E0E0;*/
    padding:10px;
    margin-bottom:10px;
    margin-right:0px;
    min-height:270px;
    overflow: hidden;
}
.video-mini {
    float:left;
}
.video-mini p {
    font-size:60%;
}
.video-mini h4 {
    font-size:60%;
}
.video-mini-content {
    min-height:220px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.video-mini-content > div {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: white;
    padding: 1em 2em;
}
.video-mini-content > div h4 {
    font-size: 120%;
    margin: 0;
}
.video-mini-content > div span {
    position: absolute;
    bottom: 1em;
}
.float-right {
    float:right;
    margin:5px;
    display:inline;
}
.float-left {
    float:left;
    margin:5px;
    display:inline;
}
